@import '../../scss/mixins';

section.primary{
    height: 400px;
    width: 100%;
    background-color: rgb(240, 238, 238);
    border-bottom: solid 1px rgb(213, 212, 212);
    @include flex(row, center);
    z-index: 1000;

    .main-notice{
        background-image: url("../../assets/img/pes2020.jpg");
        height: 200px;
        max-width: 200px;
        background-size: cover;
    }
    
    ul{
        @include flex(row, center);
        max-width: 1000px;
        flex-wrap: wrap;
        img{
            height: 170px;
            max-width: 300px;
            background-repeat: no-repeat;
            margin-right: 5px;
        }
    }
    
}